{% extends 'base.html.twig' %}

{% block body %}
    <div id="login_form">
        {% if error %}
            <div class="feedback error">
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>
        {% endif %}
        <br />
        <form action="{{ path('login') }}" method="post">
            <div class="row">
                <label for="username">Pseudo</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>

            <div class="row">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" />
            </div>
            <br />
            <div class="row center">
                <button type="submit">Connexion</button>
            </div>
            <br />
            <div class="row center">
                <a href="{{ path('register') }}">Pas encore de compte ?</a>
            </div>
        </form>
    </div>
{% endblock body %}
