<div class="menu vertical">
    <div class="menu-item">Empire</div>
    <div class="menu-sep"></div>
    <div class="menu-item">Bâtiments</div>
    <div class="menu-item">Défenses</div>
    <div class="menu-item">Vaisseaux</div>
    <div class="menu-sep"></div>
    <div class="menu-item">Alliance</div>
    <div class="menu-item">Messages</div>
    <div class="menu-sep"></div>
    <div class="menu-item">Quêtes</div>
    <div class="menu-sep"></div>
    <div class="menu-item">Support</div>
    <img src="{{ asset('build/images/logo.png') }}" />
</div>
